src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/javaserviciocrud/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:element name="actualizarPersona" type="tns:actualizarPersona"/>

<xs:element name="actualizarPersonaResponse" type="tns:actualizarPersonaResponse"/>

<xs:element name="eliminarPersona" type="tns:eliminarPersona"/>

<xs:element name="eliminarPersonaResponse" type="tns:eliminarPersonaResponse"/>

<xs:element name="insertarPersona" type="tns:insertarPersona"/>

<xs:element name="insertarPersonaResponse" type="tns:insertarPersonaResponse"/>

<xs:element name="mostrarPersona" type="tns:mostrarPersona"/>

<xs:element name="mostrarPersonaResponse" type="tns:mostrarPersonaResponse"/>

<xs:element name="mostrarPersonas" type="tns:mostrarPersonas"/>

<xs:element name="mostrarPersonasResponse" type="tns:mostrarPersonasResponse"/>

<xs:complexType name="mostrarPersonas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarPersonasResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarPersona">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actualizarPersonaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPersona">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarPersonaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarPersona">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarPersonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPersona">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarPersonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>