web/WEB-INF/wsdl/localhost_8080/javaserviciocrud/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/javaserviciocrud/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminarPersona">
<part name="parameters" element="tns:eliminarPersona"/>
</message>
<message name="eliminarPersonaResponse">
<part name="parameters" element="tns:eliminarPersonaResponse"/>
</message>
<message name="insertarPersona">
<part name="parameters" element="tns:insertarPersona"/>
</message>
<message name="insertarPersonaResponse">
<part name="parameters" element="tns:insertarPersonaResponse"/>
</message>
<message name="mostrarPersona">
<part name="parameters" element="tns:mostrarPersona"/>
</message>
<message name="mostrarPersonaResponse">
<part name="parameters" element="tns:mostrarPersonaResponse"/>
</message>
<message name="mostrarPersonas">
<part name="parameters" element="tns:mostrarPersonas"/>
</message>
<message name="mostrarPersonasResponse">
<part name="parameters" element="tns:mostrarPersonasResponse"/>
</message>
<message name="actualizarPersona">
<part name="parameters" element="tns:actualizarPersona"/>
</message>
<message name="actualizarPersonaResponse">
<part name="parameters" element="tns:actualizarPersonaResponse"/>
</message>
<portType name="Servicios">
<operation name="eliminarPersona">
<input wsam:Action="http://WebServices/Servicios/eliminarPersonaRequest" message="tns:eliminarPersona"/>
<output wsam:Action="http://WebServices/Servicios/eliminarPersonaResponse" message="tns:eliminarPersonaResponse"/>
</operation>
<operation name="insertarPersona">
<input wsam:Action="http://WebServices/Servicios/insertarPersonaRequest" message="tns:insertarPersona"/>
<output wsam:Action="http://WebServices/Servicios/insertarPersonaResponse" message="tns:insertarPersonaResponse"/>
</operation>
<operation name="mostrarPersona">
<input wsam:Action="http://WebServices/Servicios/mostrarPersonaRequest" message="tns:mostrarPersona"/>
<output wsam:Action="http://WebServices/Servicios/mostrarPersonaResponse" message="tns:mostrarPersonaResponse"/>
</operation>
<operation name="mostrarPersonas">
<input wsam:Action="http://WebServices/Servicios/mostrarPersonasRequest" message="tns:mostrarPersonas"/>
<output wsam:Action="http://WebServices/Servicios/mostrarPersonasResponse" message="tns:mostrarPersonasResponse"/>
</operation>
<operation name="actualizarPersona">
<input wsam:Action="http://WebServices/Servicios/actualizarPersonaRequest" message="tns:actualizarPersona"/>
<output wsam:Action="http://WebServices/Servicios/actualizarPersonaResponse" message="tns:actualizarPersonaResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="actualizarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/javaserviciocrud/Servicios"/>
</port>
</service>
</definitions>